<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/favicon.ico" />

</head>

<body>

    <style>
        @@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

        .navbar-header form {
            position: absolute;
            right: 20px;
            max-width: 250px;
        }

        button.navbar-toggle.pull-left {
            margin-left: 15px;
        }

        @@media only screen and (max-width:768px) {
            .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
                border-color: rgba(0,0,0,0);
                margin-top: 0;
                padding-top: 8px;
            }

            .navbar-form {
                padding: 10px 15px;
                margin-top: 8px;
                margin-right: -15px;
                margin-bottom: 8px;
                margin-left: -15px;
                border-top: 0px solid transparent;
                border-bottom: 0px solid transparent;
                -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
                box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
            }
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form class="navbar-form navbar-right" action="/Home/Search" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="word" placeholder="Search this site">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                @*<a href="~/Home/Start" class="navbar-brand">
                        <span class="glyphicon glyphicon-phone"></span> PSOnline
                    </a>*@
            </div>
            <div class="navbar-collapse collapse" id="navbar1">

                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Start", "Home")</li>
                    <li>@Html.ActionLink("Catalog", "Index", "Home")</li>

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {

                            @Html.ActionLink("Products Manage", "Index", "ProductModels");

                        }
                    </li>
                    <li>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {

                            @Html.ActionLink("Order Manage", "Index", "Order");

                        }
                    </li>



                    <li>
                        <a href="~/Home/Cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                        </a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>




            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <p>&copy; @DateTime.Now.Year - PSOnline - @Html.ActionLink("About", "About", "Home")  -  @Html.ActionLink("Log in", "Login", "Account")</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
